
@{
    ViewBag.Title = "Index";

    var hi = "hi";
    var num = 10; // C# syntax comes here

}

<h2>Index</h2>


@hi
@num

@{ 
    var BMI = 30;

}

@if (BMI >= 30)
{

    <p> BMI: @BMI, 你真的有點胖</p>
}
else if (BMI >= 25)
{

    <p> BMI: @BMI 你有點胖 </p>
}
else { 

    <p> BMI: @BMI, 你走開 </p>
}


