
@{
    ViewBag.Title = "Verify";
}

<h2>Verify</h2>

<div class="container">

    <ul>
        <li>
            帳號: @ViewBag.uid
        </li>
        <li>
            密碼: @ViewBag.pwd
        </li>

        <li>
            登入結果: @ViewBag.loginStatus
        </li>

    </ul>

</div>

