
@{
    ViewBag.Title = "Detail";
}

<div class="container">
    <h2> Detail Page</h2>
    @*@<p> Course ID = @ViewBag.courseID</p> 試試看用view data*@
    <p> Course ID = @ViewData["CourseID"] </p>

</div>
